:root {
    --bg-color: #00030C;
    --main-color: #FFFFFF;
    --secondary-color: #C0C0C0;
    --main-font: 'Inter';
    --button-color: #F40000;
    --button-color-effect: #af0000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.main {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__box {
    margin: 0 6em;
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__button {
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-color);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.normal_button {
    font-weight: bold;
}

.normal_button:hover {
    background-color: var(--button-color-effect);
}

.empty_button {
    background-color: transparent;
    border: 2px solid var(--main-color)
}

.empty_button:hover {
    transform: scale(1.02);
}

.container__notice {
    font-size: 12px;
    color: var(--secondary-color);
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.secondary__image {
    width: 80%;
}

.container__description {
    padding: 2em;
}

.description__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--main-color);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--secondary-color);
}

.secondary__button {
    display: inline-block;
    margin-top: 1em;
}

.devices {
    text-align: center;
}

.devices__title {
    font-size: 48px;
    color: var(--main-color);
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.item__list {
    font-size: 32px;
    color: var(--main-color);
}

.footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.link__list a {
    text-decoration: none;
    color: var(--main-color);
    margin-left: 1em;
}

.link__list a:hover {
    color: var(--secondary-color);
}

.footer__text {
    margin: 1em 0;
    color: var(--secondary-color);
    font-size: 14px;
}